body {
  margin: 0;
  font-family: 'Manrope',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff9f4;
  overflow: hidden;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #333;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #555;
}
